html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

#main {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45)), url("../../images/21231054_114687175869092_6446263180633942073_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

#navigation-bar, #sp-navigation-bar {
  text-transform: uppercase; }
  #navigation-bar #nav-image, #sp-navigation-bar #nav-image {
    padding-top: 20px;
    padding-left: 45px; }
  #navigation-bar ul li:first-child, #sp-navigation-bar ul li:first-child {
    margin-right: auto; }
  #navigation-bar #nav-links, #sp-navigation-bar #nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; }
  #navigation-bar #nav-logo, #sp-navigation-bar #nav-logo {
    justify-content: flex-start; }
  #navigation-bar .nav-item, #sp-navigation-bar .nav-item {
    padding: 25px; }
  #navigation-bar .nav-link, #sp-navigation-bar .nav-link {
    color: #fff;
    text-decoration: none;
    flex: 1; }

#sp-navigation-bar {
  background-color: #7D1C2D; }
  #sp-navigation-bar ul li:first-child {
    margin-right: 0; }

#visit-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 50%; }
  #visit-us #visit-us-text {
    color: #fff; }
    #visit-us #visit-us-text #visit-header {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 60px;
      margin: 0px; }
    #visit-us #visit-us-text #visit-random-text {
      letter-spacing: 1px;
      font-size: 20px;
      margin: 0px; }
  #visit-us #visit-us-logo {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: url("../../images/20953683_112852162719260_566288663263202740_n.jpg");
    background-size: contain;
    background-repeat: no-repeat; }
  #visit-us #visit-us-button {
    margin-top: 20px;
    padding: 20px;
    border: none;
    text-decoration: none;
    border-radius: 0px;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background-color: #7D1C2D; }
    #visit-us #visit-us-button:hover {
      background-color: #74192a;
      cursor: pointer; }

#mid-section {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px; }
  #mid-section .mid-section-item {
    flex: 1; }
  #mid-section .mid-section-header {
    text-align: center;
    color: #7D1C2D;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px; }
  #mid-section .mid-section-item-content {
    display: flex;
    padding: 10px;
    justify-content: space-around; }
  #mid-section .mid-section-item-image {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #7D1C2D;
    background-size: cover;
    background-repeat: no-repeat; }
  #mid-section .mid-section-item-content-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%; }
    #mid-section .mid-section-item-content-text p {
      margin: 2px; }

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: #7D1C2D; }
  #footer .social-media-icon {
    font-size: 25px;
    margin: 20px;
    color: #A2EEFE; }
  #footer #copyright {
    color: #fff;
    font-size: 12px; }
    #footer #copyright #divider {
      color: #A2EEFE; }
  #footer #made-by-link {
    text-decoration: none;
    color: #A2EEFE; }

/*# sourceMappingURL=style.css.map */
